[defaults]
# ========== Collections Path ==========
# Caminho para as collections
collections_path = ./

# ========== Timer nos Logs ==========
# Habilita o plugin timer para ver duração das tasks
callbacks_enabled = ansible.posix.timer